body{
    width: 99.3%;
    height: 100%;
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #fff;
}
header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Тень под нижней границей блока */
    
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 1%;
    display: flex;
    float: right;
    margin-right: 2%;
}
nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    font-family: "Franklin Gothic";
    color: #000;
    font-size: 2em;
    font-weight: bold;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
nav a:hover {
    color: #491bca; /* Цвет при наведении */
}
.photo {
    background-image: url(../img/горы.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    width: 99.5%;
    height: 100%;
    margin: 0;
    float: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.photo1 {
    background-image: url(../img/Река.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    width: 99.5%;
    height: 100%;
    margin: 0;
    float: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
p {
    font-family: "Franklin Gothic";
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.photo h1 {
    font-family: "Franklin Gothic";
    font-size: 3em;
    padding: 20% 5% 0;
    color:#fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.photo1 h3 {
    font-family: "Franklin Gothic";
    font-size: 3em;
    padding: 20% 5% 0;
    color:#fff;
    opacity: 1;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.photo h4 {
    font-family: "Franklin Gothic";
    font-size: 3em;
    color:#fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.block {
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Показывать блоки по мере прокрутки */
.block.in-view {
    opacity: 1;
    transform: translateY(0);
}
.blocks-container {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 1%; /* Расстояние между блоками в 5 пикселей */
    justify-content: center;
}

.blocks {
    width: 30%;
    height: 100px; /* Высота блоков */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Franklin Gothic";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#block-1 {
    background-image: url('../img/горы1.jpg'); /* Замените 'фон1.jpg' на путь к вашему изображению для блока 1 */
}

#block-2 {
    background-image: url('../img/побережье.jpg'); /* Замените 'фон2.jpg' на путь к вашему изображению для блока 2 */
}

#block-3 {
    background-image: url('../img/лед.jpg'); /* Замените 'фон3.jpg' на путь к вашему изображению для блока 3 */
}

#block4 {
    margin-top: 5%;
}

#block5 {
    margin-top: 5%;
}
#block6 {
    height: 150px;
    margin-top: 5%;
}
/* Стили для нижнего колонтитула */
.footer {
    background-color: #200863; /* Цвет фона колонтитула */
    color: #fff; /* Цвет текста */
    padding: 2% 0; /* Внутренний отступ сверху и снизу */
}
.footer-info p{
    text-align: left;  
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 20%;
    margin: 0 auto;
    padding: 0 5%; /* Внутренний отступ по бокам */
}

.footer-info {
    flex: 1; /* Растягиваем этот блок, чтобы занимать доступное пространство */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 80%;
}
.slider-container {
    position: relative;
    width: 50%;
    height: auto;
    margin: 10 auto;
    overflow: hidden;
}
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
  }

  .slider-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Стили для отдельной точки */
  .slider-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333; /* Цвет точки */
    border-radius: 50%; /* Делаем точку круглой */
    margin: 0 5px; /* Расстояние между точками */
    cursor: pointer;
  }
  
  /* Стиль для активной точки */
  .slider-dot.active {
    background-color: #0008ff; /* Цвет активной точки */
  }
  
  .prev-button {
    left:  20px;
  }
  
  .next-button {
    right: 20px;
  }
  .container {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  .simple-icons-message{
    margin-top:5px;
  }
  .menu-toggle {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-color: #1ef0a0;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    display: table;
    text-align: center;
  }
  
  
  .btn-app {
    width: 2.5em;
    height: 2.5em;
    border-radius: 20%;
    position: absolute;
    text-align: center;
  }
  
  .open .btn-app {
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .menu-line {
    
    position:relative;
    z-index: 2;
  }
  
  .menu-line .btn-app{
    font-size: 1.5em;
    bottom: 0;
    right: 0em;
    transition: 0.3s;
  }
  .menu-line.open .btn-app:nth-of-type(1) {
    bottom: 4em;/* Изменяем цвет для Telegram */
    background-color: #ffffff;
    border-radius: 20%;
  }
  
  .menu-line.open .btn-app:nth-of-type(2) {
    bottom: 7em;
    background-color: #25D366; /* Изменяем цвет для WhatsApp */
  }
  
  .menu-line.open .btn-app:nth-of-type(3) {
    bottom: 10em;
    border-radius: 20%;
                /* Изменяем цвет для WhatsApp */
  }
  
  
  .menu-line.open .btn-app:nth-of-type(4) {
    bottom: 13em;
    background-color: #ffffff; /* Изменяем цвет для VK */
    border-radius: 38%;
  }
  @media (max-width: 1256px){
    header {
        height: 10%; /* Увеличьте высоту заголовка для лучшего взаимодействия с сенсорными устройствами */
    }
    .footer-info{
        font-size: 80%;
    }
    .footer-info p{
        text-align: left;
    }
  }
  


  @media (max-width: 768px) {
    /* Стили для экранов до 768px ширины (планшеты и мобильные устройства) */
    header {
        height: 10%; /* Увеличьте высоту заголовка для лучшего взаимодействия с сенсорными устройствами */
    }

    nav ul {
        justify-content: center;
        margin-right: 0;
        padding: 2%;
    }

    nav li {
        margin-right: 10px;
    }

    nav a {
        font-size: 1em;
    }
    footer{
        font-size: 80%;
        
    }
    .footer-info{
        font-size: 80%;
        
    }
    .footer-info p{
        text-align: left;  
    }
    
    /* Внесите корректировки в другие стили по мере необходимости для меньших экранов */
}
