body{
    width: 99.3%;
    height: 100%;
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #fff;
}
@font-face {
	font-family: 'EE-Bellflower';
	src: url('../fonts/ee-bellflowerrus_by_lyajka.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/ee-bellflowerrus_by_lyajka.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/ee-bellflowerrus_by_lyajka.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/ee-bellflowerrus_by_lyajka.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/ee-bellflowerrus_by_lyajka.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/ee-bellflowerrus_by_lyajka.svg#ee-bellflowerrus_by_lyajka') format('svg'); /* Chrome < 4, Legacy iOS */
}
header {
    background-color: #f5f5f5;
    display:inline-table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Тень под нижней границей блока */
    
}
.logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

#logo img {
    height: 5em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    display: flex;
    float: right;
    margin-right: 1em;
}
nav li {
    width:max-content;
    margin-right: 1em;
}
nav a {
    text-decoration: none;
    font-family: "Franklin Gothic";
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
nav a:hover {
    color: #479ec3; /* Цвет при наведении */
}
.dropbtn {
    color: #000;
    font-size: 1.5em;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10em;
    border-radius: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    column-count: 2;
    column-gap: 0.5em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd; border-radius: 0.5em;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10em;
    border-radius: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover {background-color: #ddd; border-radius: 0.5em;}
.dropdown:hover .dropdown1-content {display: block;}
h1 {
    padding-top: 5em;
    font-size: 2em;
    text-align: center;
    font-family: "Franklin Gothic";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p {
    padding-top: 1em;
    padding-left: 5em;
    font-size: 1.5em;
    padding-right: 5em;
    padding-bottom: 2em;
    text-align: center;
    font-family: "Franklin Gothic";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.blocks-container {
    margin-bottom: 5em;
}
.blocks {
    display: flex;
    justify-content: center;
    
}

.block {
    width: 20em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: "Franklin Gothic";
    margin: 0.5em;
    padding-bottom: 1em;
}
.block h2{
    text-align: center;
    font-size: 1.5em;
    padding-left: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}    
.block p{
    text-align: left;
    margin: 0;
    font-size: 1em;
    padding-top: 0;
    padding-left: 1em;
    padding-bottom: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}    
.difficulty::before {
    content: ''; /* Пустое содержимое для псевдоэлемента */
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    background-color: #ffd232; /* Желтый кружочек */
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 50%; /* Делаем круглый */
    margin-right: 10px; /* Расстояние между кружочком и текстом */
}  
.difficulty1::before {
    content: ''; /* Пустое содержимое для псевдоэлемента */
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    background-color: #ec565f; /* Желтый кружочек */
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 50%; /* Делаем круглый */
    margin-right: 10px; /* Расстояние между кружочком и текстом */
}  

.photo {
    width: 19.9em;
    height: 15em;
}
.footer {
    background-color: #424d56; /* Цвет фона колонтитула */
    color: #fff; /* Цвет текста */
    padding: 2% 0; /* Внутренний отступ сверху и снизу */
}
.footer-info p{
    text-align: center;
    font-size: 1em;
    padding: 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Franklin Gothic";
    max-width: 100%;
    height: 10%;
    margin: 0 auto;
    padding: 0 5%; /* Внутренний отступ по бокам */
}

.footer-info {
    flex: 1; /* Растягиваем этот блок, чтобы занимать доступное пространство */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}